nav.navbar-default.navbar-static-side(role='navigation', ng-controller="NavbarCtrl")
  .sidebar-collapse

    ul#side-menu.nav.metismenu(side-navigation='')
      li.nav-header
        span
          img.img-circle(style="width: 48px; height: 48px;",alt='image', src='http://cache.media.techz.vn/upload/2013/11/04/image-1383533029-anonymous-image.jpg')
        .dropdown.profile-element(dropdown='')
          a.dropdown-toggle(dropdown-toggle='', href='')
            span.clear
              span.block.m-t-xs
                strong.font-bold DLite Admin
              span.text-muted.text-xs.block
                | Administrator
        .logo-element
          | JFF
      li(ng-class="{active: $state.includes('dashboards')}")
        a(ui-sref='dashboards')
          i.fa.fa-map-marker
          span.nav-label {{ 'Dashboard'}}

      li(ng-class="{active: $state.includes('manage-staff')}")
        a(ui-sref='manage-staff')
          i.fa.fa-users
          span.nav-label {{ 'Manage Staff'}}

      li(ng-class="{active: $state.includes('customer')}")
        a(ui-sref='customer')
          i.fa.fa-group
          span.nav-label {{ 'Customers'}}
