nav.navbar-default.navbar-static-side(role='navigation', ng-controller="NavbarCtrl")
  .sidebar-collapse

    ul#side-menu.nav.metismenu(side-navigation='')
      li.nav-header
        span
          img.img-circle(style="width: 48px; height: 48px;",alt='image', src='http://res.cloudinary.com/dy4lucetl/image/upload/v1441204721/dliteme_v6fsui.jpg')
        .dropdown.profile-element(dropdown='')
          a.dropdown-toggle(dropdown-toggle='', href='')
            span.clear
              span.block.m-t-xs
                strong.font-bold DLite Admin
              span.text-muted.text-xs.block
                | Administrator
        .logo-element
          img(src='../assets/img/a1.jpg')
      li(ng-class="{active: $state.includes('dashboard')}")
        a(ui-sref='dashboard')
          i.fa.fa-th-large
          span.nav-label {{ 'Dashboard'}}

      li(ng-class="{active: $state.includes('tracker')}")
        a(ui-sref='tracker.map')
          i.fa.fa-motorcycle
          span.nav-label {{ 'Tracker' }}

      li(ng-class="{active: $state.includes('manage-staff')}")
        a(ui-sref='manage-staff')
          i.fa.fa-users
          span.nav-label {{ 'Manage Staff'}}

      li(ng-class="{active: $state.includes('customer')}")
        a(ui-sref='customer')
          i.fa.fa-group
          span.nav-label {{ 'Customers'}}
      li(ng-class="{active: $state.includes('orders')}")
        a(ui-sref="orders")
          i.fa.fa-cubes
          span.nav-label {{ 'Orders' }}
      li(ng-class="{active: $state.includes('merchants')}")
        a(ui-sref="merchants")
          i.fa.fa-paw
          span.nav-label {{ 'Merchants' }}
      li(ng-class="{active: $state.includes('settings')}")
        a(ui-sref="settings")
          i.fa.fa-cogs
          span.nav-label {{ 'Settings' }}
