.ecommerce.animated.fadeInRight
  .row
    .col-lg-12
      h4 Review and edit all staff
    .ibox-content.m-b-sm
      .table-responsive
        #editable_wrapper.form-inline
          .row
            .col-sm-6
              .dataTables_length
                label.control-label
                  | Show
                  select.form-control.input-sm(
                  name="show_entries",
                  )
                    option(value="10") 10
                    option(value="20") 20
                  |    out of 100
            .col-sm-6
              .dataTables_filter
                .col-lg-6.col-sm-offset-4
                  input.form-control.input-sm(
                  type="search",
                  placeholder="search for driver",

                  )
    .row
      .col-lg-12
        .ibox
          .ibox-content
            table.footable.table.toggle-arrow-tiny(data-page-size="15")
              thead
              tr
                th Staff ID
                th Full Name
                th Email
                th Date Added
                th Postcode
                th Max. Distance
                th Status
                th.text-right Action
              tbody
                tr
                  td 112
                  td Kunle Adetayo
                  td kunle@dliteme.com
                  td 31/08/2015 23.10
                  td E2 7DD
                  td 10
                  td
                    span.label.label-primary Active
                  td.text-right
                    .btn-group
                      button.btn-warning.btn.btn-xs Edit
                      button.btn-danger.btn.btn-xs Delete
                tr
                  td 113
                  td Tuan
                  td tuan@dliteme.com
                  td 31/08/2015 23.16
                  td E9 5DL
                  td 7
                  td
                    span.label.label-warning Inactive
                  td.text-right
                    .btn-group
                      button.btn-warning.btn.btn-xs Edit
                      button.btn-danger.btn.btn-xs Delete
              tfoot
              tr
                td(colspan="8")
                  ul.pagination.pull-right





