.wrapper.wrapper-content.animated.fadeIn
  .row
    .col-lg-12
      .ibox.float-e-margins
          h4 Review and edit all staff
          .ibox-tools
        .ibox-content
          .row
            .col-sm-1.m-b-xs.pull-left
              select.input.form-control.input.inline
                option(value="10") 10
                option(value="20") 20
            .col-sm-3.pull-right
              .input-group
                input.input.form-control(type="text" placeholder="Search")
                span.input-group-btn
                   button.btn.btn.btn-primary.btn-lg(type="button") Go!
  .table-responsiv

    table.footable.table.table-striped.toggle-arrow-tiny(data-page-size="15")
      thead
      tr
        th Staff ID
        th Full Name
        th Email
        th Date Added
        th Postcode
        th Max. Distance
        th Status
        th.text-right Action
      tbody
        tr
          td 112
          td Kunle Adetayo
          td kunle@dliteme.com
          td 31/08/2015 23.10
          td E2 7DD
          td 10
          td
            span.label.label-primary Active
          td.text-right
            .btn-group
              button.btn-warning.btn.btn-xs Edit
              button.btn-danger.btn.btn-xs Delete
        tr
          td 113
          td Tuan
          td tuan@dliteme.com
          td 31/08/2015 23.16
          td E9 5DL
          td 7
          td
            span.label.label-warning Inactive
          td.text-right
            .btn-group
              button.btn-warning.btn.btn-xs Edit
              button.btn-danger.btn.btn-xs Delete
      tfoot
      tr
        td(colspan="8")
          ul.pagination.pull-right





