nav.navbar-default.navbar-static-side(role='navigation')
	.sidebar-collapse
		ul#side-menu.nav.metismenu(side-navigation='')
			li.nav-header
				.dropdown.profile-element(dropdown='')
					a.dropdown-toggle(dropdown-toggle='', href='')
						span.clear
							span.block.m-t-xs
								strong.font-bold Thien Nguyen
							span.text-muted.text-xs.block
								| Developer 
				.logo-element
					| IN+
			li(ng-class="{active: $state.includes('dashboards')}")
				a(href='index.html')
					i.fa.fa-th-large
					span.nav-label {{ 'DASHBOARD' | translate }}
					span.fa.arrow
				ul.nav.nav-second-level(ng-class="{in: $state.includes('dashboards')}")
					li(ui-sref-active='active')
						a(ui-sref='dashboards.dashboard_1') {{ 'DASHBOARD' | translate }} v.1
			li
				a(ui-sref='manage_staff')
					i.fa.fa-group
					span.nav-label {{ 'MANAGE STAFF' | translate }}