#wrapper(data-ng-controller="ManageStaffCtrl")
  div(ng-include="'components/navbar/navbar.html'")

  #page-wrapper.gray-bg(class='~$state.current.name~')
    div(ng-include="'components/topbar/topbar.html'")


    .wrapper.wrapper-content.animated.fadeIn

      .tabs-container
          tabset
            tab(heading="Add New Staff")
              .panel-body
                div(data-ng-include="'app/manage_staff/subviews/add_staff_form.html'")
            tab(heading="Browse All Staff")
              .panel-body
                div(data-ng-include="'app/manage_staff/subviews/browse_staff_table.html'")
            tab(heading=" Staff's Order")
              .panel-body
                div(data-ng-include="'app/manage_staff/subviews/each_staff_order.html'")
            tab(heading="All Orders")
              .panel-body
                div(data-ng-include="'app/manage_staff/subviews/search_staff.html'")
            tab(heading="Query Staff Table")
              .panel-body
                h5 Generic query here...
    div(ng-include="'components/footer/footer.html'")
