table.table.table-striped
  thead
    tr
      th Status
      th Details
      th Agent
      th Due
  tbody
    tr
      td
        small.label.label-warning Waiting
      td
        a(href="javascript:") Test 1
      td Thien Nguyen
      td 2015-10-10
    tr
      td
        small.label.label-danger Overdue
      td
        a(href="javascript:") Test 2
      td Thien Nguyen
      td 2015-10-10
    tr
      td
        small.label.label-success Done
      td
        a(href="javascript:") Test 3
      td Thien Nguyen
      td 2015-10-10
