#wrapper
  div(data-ng-include="'components/navbar/navbar.html'")
  #page-wrapper.gray-bg(class='~$state.current.name~')
    div(data-ng-include="'components/topbar/topbar.html'")

    .wrapper.wrapper-content.animated.fadeInRight
      .tabs-container
        tabset
          tab(heading="Staff Map", ui-sref="tracker.map", active="$state.includes('tracker.map')")
            .panel-body
              div(ui-view="tracker_map")
          tab(heading="Street View", ui-sref="tracker.street", active="$state.includes('tracker.street')")
            .panel-body
              div(ui-view="tracker_street")

