#wrapper
  div(data-ng-include="'components/navbar/navbar.html'")
  #page-wrapper.gray-bg(class='~$state.current.name~')
    div(data-ng-include="'components/topbar/topbar.html'")

    .wrapper.wrapper-content.animated.fadeInRight
      .tabs-container
        tabset
          tab(heading="Staff Map", ui-sref="tracker.map", active="active.map", ui-sref-active="active")
            .panel-body
              div(ui-view="tracker_map")
          tab(heading="Street View", ui-sref="tracker.street", active="active.street", ui-sref-active="active")
            .panel-body
              div(ui-view="tracker_street")
    div(data-ng-include="'components/footer/footer.html'")

