#map_canvas
  .col-lg-3.ibox
    select.form-control(ng-model="selectedDriver", ng-change="selectDriver()", type="")
      option(value="0") Select a driver to view location...
      option(ng-repeat="driver in drivers", value="{{driver.staff_id}}") {{driver.staff_name}}
  .ibox
    #pano(style="width: 100%; height: 420px;")
      //- street-view-panorama(
      //-   click-to-go="true",
      //-   disable-default-u-i="false",
      //-   disable-double-click-zoom="false",
      //-   visible="true")
